body {
}
.btn-info {
  background-color: #2196f3;
  height: 40px;
  width: 100px;
} /* Blue */
.btn-info:hover {
  background: #0b7dda;
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 981px;
  position: relative;
}

.u-section-1 .u-shape-1 {
  width: 442px;
  background-image: none;
  left: auto;
  right: 323px;
}

.u-section-1 .u-image-1 {
  width: 1016px;
  height: 744px;
  box-shadow: 5px 5px 35px 0 rgba(0, 0, 0, 0.15);
  margin: 0 36px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 473px;
  width: 498px;
  margin: -236px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-1 .u-text-1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 46px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-1 .u-image-1 {
    width: 878px;
    height: 689px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -191px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-shape-1 {
    right: 278px;
  }

  .u-section-1 .u-image-1 {
    width: 666px;
    height: 561px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -63px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-1 .u-shape-1 {
    width: 377px;
    height: 1006px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 65px 0 auto;
  }

  .u-section-1 .u-image-1 {
    width: 495px;
    height: 442px;
    margin-top: -926px;
  }

  .u-section-1 .u-group-1 {
    width: 414px;
    margin-top: -61px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-shape-1 {
    width: 220px;
    height: 829px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 290px;
  }

  .u-section-1 .u-group-1 {
    min-height: 472px;
    width: 317px;
    margin-top: 77px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 543px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 96px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 311px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 311px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-2 .u-image-1 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 79px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 772px;
  }

  .u-section-2 .u-image-1 {
    height: 716px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 564px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}
.u-section-3 .u-sheet-1 {
  min-height: 502px;
}

.u-section-3 .u-text-1 {
  width: 550px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
}
.u-section-4 .u-sheet-1 {
  min-height: 797px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -127px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 294px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 21px 91px 0 100px;
}

.u-section-4 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: 20px auto 0 80px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 294px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px 74px 0 83px;
}

.u-section-4 .u-image-2 {
  width: 119px;
  height: 119px;
  margin: 19px 121px 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 294px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px 58px 0 107px;
}

.u-section-4 .u-image-3 {
  width: 119px;
  height: 119px;
  margin: 19px auto 0 80px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 287px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px 103px 0 90px;
}

.u-section-4 .u-image-4 {
  width: 128px;
  height: 128px;
  margin: 20px auto 0 80px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 287px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin: 21px 74px 0 128px;
}

.u-section-4 .u-image-5 {
  width: 119px;
  height: 119px;
  margin: 28px 86px 0 auto;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 287px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px 20px 0 69px;
}

.u-section-4 .u-image-6 {
  width: 119px;
  height: 119px;
  margin: 28px auto 0 80px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 57px;
    margin-left: 67px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 96px;
    margin-left: 50px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 96px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 73px;
    margin-right: 73px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 236px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 79px;
    margin-left: 57px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 236px;
  }

  .u-section-4 .u-text-5 {
    width: 69px;
    margin-left: 94px;
    margin-right: 40px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 236px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 22px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 20px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 52px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 68px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 68px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 61px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 42px;
    margin-left: 20px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 52px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 57px;
    margin-right: 3px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 61px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    margin-left: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}
