body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0px;
  background-color: #f4f3f3;
}
.resultss {
  border-radius: 15px 50px;
  background: #345fe4;
  padding: 20px;
  width: 200px;
  height: 150px;
}
